mixin picture(sourceImage, color, title, price)
    img(src=sourceImage, width="300", height="180").img-rounded
    center
        h4
            b #{title}
        h5
            #{race}
            #{color}
        h5 Localització:
            #{location}
