mixin picture(sourceImage, name, title, color, age)
    img(src=sourceImage, width="300", height="180").img-rounded
    center
        h3
            b
                u #{name}
            |   - #{age} anys
        h4
            b #{title} (#{color})
